* {
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

:root {
  --primary: #434878;
  --secondary: #71769d;
  --tertiary: #d4d6e5;

  --text: #32333f;
}